<?xml version="1.0" encoding="utf-8" standalone="no" ?>
<gameserver>
    <settings>
        <game_name>%%SERVER_NAME%%</game_name>
        <admin_password>%%ADMIN_PASSWORD%%</admin_password>
        <game_password>%%GAME_PASSWORD%%</game_password>
        <savegame_index>%%SAVEGAME_INDEX%%</savegame_index>
        <max_player>%%MAX_PLAYERS%%</max_player>
        <port>%%SERVER_PORT%%</port>
        <language>%%LANGUAGE%%</language>
        <auto_save_interval>%%AUTO_SAVE_INTERVAL%%</auto_save_interval>
        <stats_interval>%%STATS_INTERVAL%%</stats_interval>
        <crossplay_allowed>%%CROSSPLAY%%</crossplay_allowed>
        <pause_game_if_empty>%%PAUSE_IF_EMPTY%%</pause_game_if_empty>
        <mapID>%%MAP_ID%%</mapID>
        <mapFilename>default</mapFilename>
    </settings>
</gameserver>
