<?xml version="1.0" encoding="utf-8" standalone="no" ?>
<server>
    <webserver port="%%WEB_PORT%%">
        <initial_admin>
            <username>%%WEB_USERNAME%%</username>
            <passphrase>%%WEB_PASSWORD%%</passphrase>
        </initial_admin>
    </webserver>
    <game description="Farming Simulator 25" name="FarmingSimulator2025" exe="FarmingSimulator2025Game.exe">
        <imprint active="false"></imprint>
    </game>
</server>
